.list{
    list-style-type: disc; /*default*/
    list-style-type: square;
    list-style-type: circle;
    list-style-type: lower-roman;
    list-style-type: upper-roman;
    list-style-type: decimal;
    list-style-type: decimal-leading-zero;
    list-style-type: lower-greek;

    list-style-type: none;
    list-style-type: lower-greek;
    list-style-image: url("../assets/cielo.png");
    list-style-image: none; /*default*/

}

.list li{
    list-style-type: none;
}

.list li::before{
    content: "";
    display: inline-block;
    width: 1rem;
    height: 1rem;
    list-style-type: none;
    background-image: url("../assets/favicon.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.list-2 li{
    background-color: coral;
    list-style-position: outside;
    list-style-type: upper-roman;
}

.list-3 li{
    background-color: cornsilk;
    list-style: lower-latin url("../assets/cielo.png") outside;
    
    
   
}

.text-column-4{
    column-count: 4;  /* cuantas columnas quiero */
    column-gap: 1rem;       /* separacion entre columnas */
    column-rule: thin dotted red; /*linea entre columnas*/
    list-style-position: inside;
    column-width: 100px;    /*tamaño minimo de anchura de las columnas*/
    
}

.text-column-3{
    column-count: 3;  /* cuantas columnas quiero */
    column-gap: 1rem;       /* separacion entre columnas */
    column-rule: thin solid gray; /*linea entre columnas*/
    column-width: 100px;    /*tamaño minimo de anchura de las columnas*/
    
}


